.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.word-cell.Red {
  background-color: red;
}

.word-cell.Blue {
  background-color: blue;
}

.word-cell.Innocent {
  background-color: grey;
}

.word-cell.Assassin {
  background-color: black;
  color: white;
}
.word-cell:hover {
  font-weight: 200;
  background-color: lightgrey;
}

.word-cell-wrapper {
  text-align: center;
  margin: auto;
}

.word-cell {
  border-color: black;
  border-width: 2px;
  border: solid;
  width: 100px;
  height: 100px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
