.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.word-cell.disabled {
  color: white;
  border-color: black;
}

.word-cell.Red {
  background-color: #D03111;
}

.word-cell.Red.disabled {
  background-color: #721300;
}

.word-cell.Red.disabled:hover {
  background-color: #721300;
}
.word-cell.Blue {
  background-color: #18B0FC;
}

.word-cell.Blue.disabled {
  background-color: #004A6F
}

.word-cell.Blue.disabled:hover {
  background-color: #004A6F
}

.word-cell.Innocent {
  background-color: grey;
}

.word-cell.Innocent.disabled {
  background-color: #4D4D4D;
}

.word-cell.Innocent.disabled:hover {
  background-color: #4D4D4D;
}

.word-cell.Assassin {
  background-color: black;
  color: white;
  border-color: black;
}
.word-cell.Red:hover {
  font-weight: 200;
  background-color: lightgrey;
}

.word-cell.Blue:hover {
  font-weight: 200;
  background-color: lightgrey;
}

.word-cell.Assassin:hover {
  font-weight: 200;
  background-color: lightgrey;
}

.word-cell.Innocent:hover {
  font-weight: 200;
  background-color: lightgrey;
}

.word-cell.Hidden {
  background-color: grey;
}

.word-cell.Hidden.disabled:hover {
  background-color: #4D4D4D;
}

.word-cell.Hidden:hover {
  background-color: lightgrey;
}

.word-cell-wrapper {
  text-align: center;
  margin: auto;
}

.word-cell {
  border-color: black;
  border-width: 2px;
  border: solid;
  width: 100px;
  height: 100px;
}

.word-cell-value:hover {
  text-shadow: 0 0 6px #FF0000;
  cursor: crosshair;
}

.list-group-item.Red {
  color: Red;
}

.list-group-item.Blue {
  color: Blue;
}
.list-group-item.Red.old {
  color: darkred;
}

.list-group-item.Blue.old {
  color: darkblue;
}

.word-cell:hover {
  cursor: pointer;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
